<div class="home-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path('https://res.cloudinary.com/dami1a/image/upload/c_scale,h_1280/v1550372692/Atelier%20gourmand/recipe_page.jpg') %>);">
  <h1>Ajouter une recette!</h1>
</div>
<div class="container">
  <br>
  <%= render 'form', recipe: @recipe %>
  <br>
</div>
